<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input />
</div>

<div>
  <label>User letters</label>
  <input (change)="onIncludeLetters()" type="checkbox" />
</div>

<div>
  <label>User Numbers</label>
  <input (change)="onIncludeNumbers()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onIncludeSymbols()" type="checkbox" />
</div>

<div>
  <button (click)="onClick()">Generate !</button>
</div>

<div>
  <label>Your Password</label>
  <input [value]="password" />
</div>
