<main>
  <div class="app">
    <h1>Password Generator</h1>

    <div class="form-group">
      <label>Enter Length</label>
      <input (input)="onPasswordLength($event)" />
    </div>

    <div class="form-group-checkbox">
      <input (change)="onIncludeLetters()" type="checkbox" />
      <label>User letters</label>
    </div>

    <div class="form-group-checkbox">
      <input (change)="onIncludeNumbers()" type="checkbox" />
      <label>User Numbers</label>
    </div>

    <div class="form-group-checkbox">
      <input (change)="onIncludeSymbols()" type="checkbox" />
      <label>Use Symbols</label>
    </div>

    <div>
      <button
        [disabled]="
          !(
            passwordLength &&
            (includeLetters || includeNumbers || includeSymbols)
          )
        "
        (click)="onClick()"
      >
        Generate !
      </button>
    </div>

    <div *ngIf="password" class="form-group">
      <label>Your Password</label>
      <input [value]="password" />
    </div>
  </div>
</main>
